body {
    margin: 0;
    background-color: #b2d8ff;
}

.mainTitle {
    font-size: 2.5rem;
    color: #0083ff;
    width: 100%;
    text-align: left;
    margin-left: 1rem;
}

* {
    font-family: "Cascadia Mono", "Consolas", monospace;
    color: #111111;
}

.notes {
    color: grey;
    font-style: italic;
}

@keyframes activeAnimation {
    0% {background-position: 0 50%}
    100% {background-position: 100% 50%}
}
.box {
    background-image: linear-gradient(#fafafa, #ffffff);
    border: #dddddd solid 1px;
    border-radius: 1rem;
    padding: 0.3rem 1rem;
    margin: 1rem;
}

.active {
    border-color: #0083ff !important;
}

.menu_bar {
    list-style-type: none;
    padding-left: unset;
    height: 5rem;
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
}

.menu_bar>li {
    float: left;
    margin-right: 0.2rem;
    flex-grow: 1;
    text-align: center;
}

.menu_bar>li>a {
    display: block;
    margin: unset;
    transition: padding 0.25s;
    text-decoration: none;
    border-radius: 1rem;
    padding: 1rem 2rem;
    font-weight: bold;
    border: lightgray 0.1rem solid;
    background-image: linear-gradient(#eeeeee, #ffffff);
    background-size: 200%;
    color: #111111;
    line-height: 1rem;
}

.menu_bar>li>a:active {
    text-decoration: none;
    border-color: #0083ff;
}

.menu_bar>li>a:visited {
    text-decoration: none;
}

.menu_bar>li>a:link {
    text-decoration: none;
}

.menu_bar>li>a:hover {
    text-decoration: none;
    padding-bottom: 1.5rem;
    box-shadow: rgba(0, 0, 0, 20%) -1rem 1rem 1rem;
    position: relative;
}

@keyframes screenSaver {
    0% {
        translate: 100% 0;
    }
    50% {
        translate: 50% 50%;
    }
    100% {
        translate: 0 0;
    }
}

.screenSave {
    animation: screenSaver 3s infinite linear alternate;
    top: 50%;
    left: 50%;
    width: 15rem;
    height: auto;
}

.cleanList {
    list-style: circle;
    margin-left: -2rem;
}

.animation-container {
    display: flex;
    height: 5rem;
    width: 100%;
    justify-content: center;
}

.top-button {
    position: fixed;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
    bottom: -5%;
    transition: bottom 0.5s ease-out;
}

.top-button a {
    text-decoration: none;
    color: black;
    padding: 1rem 5rem;
}

.top-button:hover {
    bottom:-3%;
}

.main-body {
    background-color: white;
    margin: 1rem 2rem 2rem 20%;
    box-shadow: rgba(0, 0, 0, 20%) -1rem 1rem 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
}

.sidebar {
    border: lightgray 0.1rem solid;
    left: 2.5%;
    position: fixed;
    top: 15%;
    width: 15%;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
}


.sidebar > a{
    box-shadow: rgba(0, 0, 0, 20%) -1rem 1rem 1rem;
    padding: 0.5rem 0;
    width: 100%;
    background-image: linear-gradient(90deg, #fafafa, #ffffff);
    text-align: center;
    text-decoration: none;
}

.sidebar > a:hover{
    background-image: linear-gradient(90deg, #fafafa, #ffffff,  #0083ff);
    background-size: 200%;
    animation-name: sidebar-hover;
    animation-iteration-count: 1;
    animation-duration: 0.5s;
    background-position: 100%;
}

.sidebar a:first-child {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.sidebar a:last-child {
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}


@keyframes sidebar-hover {
    0%{
        background-position-x: 0;
    }

    100% {
        background-position-x: 100%
    }
}

#box-model-image {
    width: 30%;
}

.test-table {
    border-collapse: collapse;
    border: solid 0.1rem black;
}

.test-table td, th {
    border: solid 0.1rem black
}

.circle-flex {
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: center;
}

.circle {
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
    text-align: center;
    vertical-align: center;
}

#linear-gradient-circle {
    background-image: linear-gradient(90deg, red, blue);
}

#radial-gradient-circle {
    background-image: radial-gradient(closest-side, red, blue);
}

#conic-gradient-circle {
    background-image: conic-gradient(red, blue, red);
}

.roman-ol {
    list-style-type: upper-roman;
}

.main-main-title {
    font-size: 5rem;
    text-align: center;
    text-decoration: white underline;
}

.page-header {
    margin-top: 4rem;
}

#test-carousel {
    scale: 50%;
}

#test-alert {
    width: fit-content;
}